@import "~antd/dist/antd.css";

.App {
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;
}

.title {
  color: white;
}

.heading {
  background-color: darksalmon;
  font-size: 30px;
}

  
  a:hover {
     color: black
  }