@import "~antd/dist/antd.css";

body {
  background-image: url("../src/finalbackground.png");
  background-position: center;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: "Baloo Tamma 2", cursive;
}

.title {
  color: white;
}

.heading {
  background-color: darksalmon;
  font-size: 30px;
}

a:hover {
  color: black;
}

.scrollable {
  height: 600px;
  width:100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ant-page-header-heading-title {
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: white;
  }
}
